@charset "UTF-8";

/*!
 * Author: Baptiste MOINE <contact@bmoine.fr>
 * Project: Markdown to MindMap
 * Homepage: https://github.com/Creased/markdown-to-mindmap
 * Released: 03/08/2016
 */

/***********************
 * GENERAL
 * CONTAINER
***********************/

/* GENERAL
***********************/

a {
    color: #126E8E;
    text-decoration: none;
}

a:hover,
a:hover::after,
a:hover::before {
    color: #218EB4;
    text-decoration: none;
    -moz-transition: all 100ms linear 0s;
    -moz-transition-property: color, background-color;
    -ms-transition: all 100ms linear 0s;
    -ms-transition-property: color, background-color;
    -o-transition: all 100ms linear 0s;
    -o-transition-property: color, background-color;
    -webkit-transition: all 100ms linear 0s;
    -webkit-transition-property: color, background-color;
    transition: all 100ms linear 0s;
    transition-property: color, background-color;
}

body {
    background-color: #F1F1F1;
    color: #3E3E3E;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

html {
    font-size: 10px;
}

h1 > .small {
    color: #386E81;
    font-size: .55em;
}

input[type="button"],
input[type="text"],
textarea {
    background-color: #F9F9F9;
    border: 1px solid #D8D8D8;
    font-size: 1em;
    font-weight: 400;
    padding: 6px 12px;
    vertical-align: middle;
}

input[type="button"],
input[type="text"] {
    transition: all .3s ease;
    white-space: nowrap;
}

input[type="button"] {
    -moz-user-select: none;
    cursor: pointer;
    text-align: center;
}

input[type="button"]:hover {
    background-color: #F1F1F1;
}

textarea {
    width: 100%;
    height: 360px;
}

/* CONTAINER
***********************/

div.container {
    position: relative;
    overflow: hidden;
    padding: 0 24px;
    max-width: 1400px;
    margin: 0 auto;
}

.row {
    position: relative;
    overflow: hidden;
}

div[class^="col\-"] {
    position: relative;
    min-height: 1px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    -webkit-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .2s ease;
}

.col-s-1 {
    width: 8.33333333%;
}

.col-s-2 {
    width: 16.66666667%;
}

.col-s-3 {
    width: 25%;
}

.col-s-4 {
    width: 33.33333333%;
}

.col-s-5 {
    width: 41.66666667%;
}

.col-s-6 {
    width: 50%;
}

.col-s-7 {
    width: 58.33333333%;
}

.col-s-8 {
    width: 66.66666667%;
}

.col-s-9 {
    width: 75%;
}

.col-s-10 {
    width: 83.33333333%;
}

.col-s-11 {
    width: 91.66666667%;
}

.col-s-12 {
    width: 100%;
}
